<!-- Interpolation
<p>{{ title }}</p> -->

<!-- Property Binding -->
<!-- <div [ngClass]="{ available: isAvailable }">
  Status: {{ isAvailable ? 'Available' : 'Unavailable' }}
</div> -->

<!-- Event Binding -->
<!-- <div>
  <button (click)="handleClick()">Click</button>
</div> -->

<!-- Two-way Binding -->
<!-- <div>
  <input [(ngModel)]="productName" type="text" placeholder="Product name" />
  <p>Product name: {{ productName }}</p>
  
</div> -->

<!-- Danh sách sản phẩm đơn giản -->
<!-- <div *ngIf="products.length > 0; else noProduct">
  <ul>
    <li *ngFor="let item of products">
      Tên sản phẩm: {{ item.name }}, ID: {{ item.id }}
    </li>
  </ul>
</div> -->

<!-- Danh sách lọc -->
<h2>Product List</h2>

<!-- Lọc sản phẩm -->
<input [(ngModel)]="filterText" placeholder="Filter by name" />

<!-- Hiển thị danh sách nếu có -->
<div *ngIf="filterProducts().length > 0; else noProducts">
  <table border="1">
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price ($)</th>
        <th>Quantity</th>
        <th>Trạng Thái</th>
        <th>Thông tin sản phẩm</th>
        <th>Chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filterProducts()">
        <td>
          <img [src]="product.image" alt="{{ product.name }}" width="100" />
        </td>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td [ngStyle]="{ color: product.inStock ? 'green' : 'red' }">
          {{ product.inStock ? 'còn hàng' : 'hết hàng' }}
        </td>
        <td><a [routerLink]="['/product-detail',product.id]">xem chi tiết</a></td>
        <td>
          <button class="btn btn-primary" (click)="removeProduct(product.id)"> Xóa </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Templates -->
<ng-template #noProducts>
  <p>No products match the filter.</p>
</ng-template>

